<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app ng-controller="Controleur">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <!-- FORMULAIRE AJOUT TABLEAU -->
        <h2>Ajout d'utilisateur</h2>
        <style type="text/css">.ng-invalid {border-color: red}</style>
        <h2>Inscription</h2>
        <form name="addUser" ng-submit="soumission(addUser.$valid)">
            <div>
                <label for="nom">Nom:</label>
                <input type='text' name="nom" id="nom" placeholder="Votre nom" ng-model="nom" required>
            </div>
            <div>
                <label for="nom">Prénom:</label>
                <input type="text" name="prenom"  id="prenom" placeholder="Votre prénom" ng-model="prenom" required>
            </div>
            <div>
                <label for="role">Rôle:</label>

                Actif: <input type="radio" ng-model="role" value="actif" id="actif">
                Membre: <input type="radio" ng-model="role" value="membre" id="membre">
            </div>

            <button class="btn btn-default" type="submit">Ajouter</button>
            <div class="alert" ng-class="msgClass" ng-show="message">{{message}}
        </form>
        <table>
            <caption>Personnes</caption>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Rôle</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.role}}</td>
            </tr>
        </table>

        <script>
            function Controleur($scope) {
            $scope.users = [];
            $scope.message = '';
            $scope.soumission = function(valid) {
            if (valid){
            $scope.user = {nom:$scope.nom, prenom:$scope.prenom, role:$scope.role};
            $scope.users.push($scope.user);
            console.log($scope.users);
            $scope.msgClass = 'alert-success';
            $scope.message = 'Merci ' + $scope.user.nom + ' pour votre message !';
            } else{
            $scope.msgClass = 'alert-danger';
            $scope.message = 'Désolé mais il y a des données non valide';
            }
            }


            };
        </script>






        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>


    </body>
</html> 

controleur
service=factory
filtre
directive=component

injecteurs 
initialiser
module
load: $scope.load 

